<h3>Restaurant Name:</h3>
<p><%= @restaurant.name %></p>
<h3>Restaurant Address:</h3>
<p><%= @restaurant.address %></p>

<h4>Pizzas:</h4>
<% @restaurant.pizzas.each do |pizza|%>
<li>
  <%= link_to pizza, pizza%>
<li>
<%end%>

<%= link_to 'Edit', edit_restaurant_path(@restaurant)%>